<!-- Render sub layouts here! -->
<!--Main page-->
<section class='container mx-auto mt-9 m-6 min-h-screen'>
  <!--Establishes grid-->
  <section class='grid grid-cols-1 sm:grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-5'>
    <!--Start of budget-->
    <section class='text-center bg-white rounded-md py-3 px-2'>
      <h2 class="text-red-600 text-3xl font-semibold">Budget</h2>
      <div class="flex flex-row justify-between mx-3 text-xl font-regular pb-1 border-b-2 border-red-600 mb-1">
        <h3>Category</h3>
        <h3>Amount</h3>
      </div>
      <div class="flex flex-col">
        <div class='grid grid-cols-3 mx-3 text-lg hover:border hover:border-2 hover:border-red-600 px-2 rounded-md'>
          <div class='justify-self-start place-self-center'>
            <p id='{{id}}'>Food</p>
          </div>
          <div class='place-self-center'>
            <p>750.00</p>
          </div>
          <div class='grid grid-rows-2 place-self-end'>
            <button class='btn editBudgetBtn' id='{{id}}'>✏️</button>
            <button class='btn deleteBudgetBtn' id='{{id}}'>❌</button>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col content-center">
        <div class="relative">
            <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="budgetAdd" data-type="1">Add Category</button>
            <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllBudget" data-type="1">View All</button>
        </div>
        <!-- Bouncing Guide! -->
        <span id="tutorial-edit" class="absolute bg-white right-5 top-2 flex flex-col self-center mt-4 animate-bounce rounded-md p-2 border-solid border-2 border-red-600 text-red-600 font-medium  text-sm text-center max-w-xs">⇧<br>edit & delete 
        </span>
      </div>
    </section>
    <section class='relative space-y-6 text-center'>
      <!--Start of Expenses-->
      <section class='text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Expenses</h2>
        <div class="flex flex-row justify-between text-xl font-regular mx-3 pb-1 border-b-2 border-red-600 mb-1">
          <h3>Purchase</h3>
          <h3>Amount</h3>
        </div>
        <div class="flex flex-col">
          {{#each expenseRev as |expense|}}
          {{> expense-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="expenseAdd" dataType="2">Add Expense</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllExpense" data-type="2">View All</button>
      </section>
      <!--Start of Income-->
      <section class='relative text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Income</h2>
        <div class="flex flex-row justify-between text-xl font-regular mx-3 pb-1 border-b-2 border-red-600 mb-1">
          <h3>Source</h3>
          <h3>Amount</h3>
        </div>
        <div class="flex flex-col">
          {{#each incomeRev as |income|}}
          {{> income-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="incomeAdd" dataType="3">Add Income</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllIncome" data-type="3">View All</button>
      </section>
    </section>
  </section>
  </div>
  <!-- Start of Totals -->
  <section class='text-center bg-white rounded-md py-3 px-2 pt-5 mt-6'>
      <h1 class="text-red-600 text-3xl font-bold mb-1">Totals</h1>
      <div class='grid grid-cols-4 justify-between mx-3 border-b-2 border-red-500 mb-1'>
        <div>
          <p class="text-xl font-regular">Budget</p>
        </div>
        <div>
          <p class="text-xl font-regular">Expenses</p>
        </div>
        <div>
          <p class="text-xl font-regular">Income</p>
        </div>
        <div>
          <p class="text-xl font-regular">Est. Savings</p>
        </div>
      </div>
      <div class="grid grid-cols-4 justify-between mx-3">
        <div>
          <div>{{budgetTotal}}</div>
        </div>
        <div>
          <div>{{expenseTotal}}</div>
        </div>
        <div>
          <div>{{incomeTotal}}</div>
        </div>
        <div>
          <div>{{savingTotal}}</div>
        </div>
      </div>
  </section>
    <a href="/tutorialEdit2" class="fixed right-20 bottom-10 mt-4 rounded-md p-5 bg-white text-red-600 font-bold text-md text-center max-w-xs border border-solid border-4 border-violet-900" id="nextTutorial">Next</a>
    <a href="/dashboard" class="fixed right-40 bottom-10 mt-4 rounded-md p-5 bg-white text-red-600 font-bold text-md text-center max-w-xs border border-solid border-4 border-violet-900" id="nextTutorial">Skip Tutorial</a>
</section>

<script src="./js/tutorial.js"></script>
