<div
  class='grid grid-cols-3 mx-3 text-lg hover:border hover:border-2 hover:border-red-600 px-2 rounded-md'
>
  <div class='justify-self-start place-self-center'>
    <p id='{{id}}'>{{name}}</p>
  </div>
  <div class='place-self-center'>
    <p>{{amount}}</p>
  </div>
  <div class='grid grid-rows-2 place-self-end'>
    <button class='btn editIncomeBtn' id='{{id}}'>✏️</button>
    <button class='btn deleteIncomeBtn' id='{{id}}'>❌</button>
  </div>

</div>