<div class='grid grid-cols-2 flex flex-row mx-3 text-lg hover:border hover:border-2 hover:border-red-600 px-2 rounded-md'>
  <div class='justify-self-start'>
    <p id='{{id}}'>{{name}}</p>
  </div>
  <div class='grid grid-cols-3'>
    <p>{{amount}}</p>
    <button class='btn editExpenseBtn' id='{{id}}'>✏️</button>
    <button class='btn deleteExpenseBtn' id='{{id}}'>❌</button>
  </div>
</div>
